* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.02em;
}
body {
	font-family:  Arial, sans-serif;
	font-size: 1em;
}

@media (max-width: 768px) {
	body {
		font-size: 1em;
	}
}
