$font-color: #42567A;
$main-font: 'PT Sans';
$article-header-font: 'Bebas Neue';
$header-size: 3em;
$start-color: #5D5FEF;
$end-color: #EF5DA8;
$body-color: #F4F5F9;
$border-color: #D4D4D4;
$main-border: 1px solid #D4D4D4;
