@use 'variables';

.circle {
  width: 25rem;
  height: 25rem;
  background: transparent;
  border-radius: 50%;
  color: #fff;
  position: absolute; 
  border: 1px solid #D4D4D4;
}
.date-list-row,
.dots-list-row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dots-list-row .date-list {
	position: absolute;
	pointer-events: none;
	top:50%;
	left: 50%;
	color: variables.$font-color;
	display: none;
	transition: ease 0.4s;
	transform: translate(-50%, -50%);
	.inner-text {
		position: relative;
		gap: 10px;
		span {
			display: inline-block;
		}
		font-weight: 900;
	}
	&.active {
		display: block;
	}
}

.dots {
  position: absolute;
  width: 0.4em;
  height: 0.4em;
  background: #42567A;
  border-radius: 50%;
  display: inline-block;
  transition: ease 0.4s;
  transform: translate(-50%, -50%);

  &.active {
	  width: 2.7em;
	  height: 2.7em;
	  border: 1px solid rgba(48, 62, 88, 0.5);
	  background: variables.$body-color;
	  .date-list {
		  display: block;
	  }
  }
}

.dots:hover {
	  width: 2.7em;
	  height: 2.7em;
	  background: variables.$body-color;
	  border: 1px solid rgba(48, 62, 88, 0.5);
	  .date-list {
		  display: block;
	  }
}

@media (max-width: 768px) {
	.circle {
		display: none;
	}
}
