@use 'variables';

.circle {
	width: 25rem;
	height: 25rem;
	background: transparent;
	border-radius: 50%;
	color: #fff;
	position: absolute; 
	border: 1px solid #D4D4D4;
}
.circle2 {
	width: 25rem;
	height: 25rem;
	z-index: -1;
}
.dots-number-container,
.dots-list-row, .dots-list-row2  {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.date-list {
	position: absolute;
	pointer-events: none;
	top:50%;
	left: 50%;
	color: variables.$font-color;
	display: inline-block;
	.inner-text {
		position: relative;
		width: 2.7em;
		height: 2.7em;
		visibility: hidden;
		gap: 10px;
		&.active{ 
			visibility: visible;
		}
	}
}


.dots-list-row2 .title {
	width: 100px;
	position: absolute;
	color: variables.$font-color;
	font-weight: bold;
	position: absolute;
	opacity: 0;
	transition: opacity 0.2s ease;
	padding-left: 6rem;
	&.active {
		opacity: 1;
	}
}

.dots {
	position: absolute;
	width: 0.4em;
	height: 0.4em;
	background: #42567A;
	border-radius: 50%;
	display: inline-block;
	transition: ease 0.4s;
	transform: translate(-50%, -50%);
	cursor: pointer;

	&.active {
		width: 2.7em;
		height: 2.7em;
		border: 1px solid rgba(48, 62, 88, 0.5);
		background: variables.$body-color;
	}
}

.dots-container:hover {
	.date-list .inner-text {
		visibility: visible;
	}
	.dots {
		width: 2.7em;
		height: 2.7em;
		background: variables.$body-color;
		border: 1px solid rgba(48, 62, 88, 0.5);
	} 
}

@media (max-width: 768px) {
	.circle, .circle2, .dots-number-container {
		visibility: hidden;
	}
	.dots-list-row {
		visibility: visible;
		position: absolute;
		top: 190%;
		display: flex;
		justify-content: space-between;
		width: 30%;
		.dots-container{
			display: inline-block;
			.dots {
				position: relative;
				display: block;
				opacity: 0.5;
				&.active {
					width: 0.5em;
					height: 0.5em;
					background-color: variables.$font-color;
					opacity: 1;
				}
			}
			.date-list {
				display: none;
			}
		}

	}
}
