@use 'mixins';
@use 'reset';
@use 'variables';
@use 'swiperstyles.scss';
@use 'years-styles.scss';
@use 'circleStyle.scss';

    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      margin: 0 7% 0 15%;
      background: #F4F5F9;
      font-family: variables.$main-font;
      color: variables.$font-color;
      border-left: 1px solid #D4D4D4;
      border-right: 1px solid #D4D4D4;
    }

    .header {
	    position: absolute;
	    top: 5rem;
	    padding-left: 4em;
	    border-left: 5px solid;
	    border-image: linear-gradient(to bottom, variables.$start-color, variables.$end-color) 1;
	    h1 {
	    max-width: 20%;
	    font-size: variables.$header-size;
    }
    }

@media (max-width: 768px) {
	html, body {
		padding: 0.5em;
		margin: 0;
		border: none;
	}
	.header{
		border: none;
		padding:0;
		h1 {
			line-height: 1;
			font-size: 2em;
		}
	}
		
}
