@use '_mixins' as mixins;
@use '_reset';
@use '_variables' as vars;
@use 'swiperstyles.scss';

    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #ffff;
      font-family: vars.$main-font, Arial, sans-serif;
      font-size: 14px;
      color: vars.$font-color;
      margin: 0;
      padding: 0;
    }

