@use 'reset';
@use 'variables';
@use 'swiperstyles.scss';
@use 'years-styles.scss';
@use 'circleStyle.scss';

html,
body {
	position: relative;
	height: 100%;
}

body {
	margin: 0 7% 0 15%;
	background: variables.$body-color;
	font-family: variables.$main-font;
	color: variables.$font-color;
	border-left: 1px solid #D4D4D4;
	border-right: 1px solid #D4D4D4;
	.vertical-line {
		top: 0;
		left: 50%;
		width: 1px;
		height: 100%;
	}
	.horizontal-line {
		top: 50%;
		width: 100%;
		height: 1px;
		transform: translateY(-50%);
	}
	.vertical-line, .horizontal-line {
		position: absolute;
		background-color: variables.$border-color;
		z-index: -1;
	}
}

.header {
	position: absolute;
	top: 5rem;
	padding-left: 4em;
	border-left: 5px solid;
	border-image: linear-gradient(to bottom, variables.$start-color, variables.$end-color) 1;
	h1 {
		max-width: 20%;
		font-size: variables.$header-size;
	}
}

@media (max-width: 768px) {
	html, body {
		padding: 0.5em;
		margin: 0;
		border: none;
	}
	.header{
		border: none;
		padding:0;
		h1 {
			line-height: 1;
			font-size: 2em;
		}
	}
	.horizontal-line, .vertical-line {
		display: none;
	}

}
