@import 'swiper/scss';
@import 'swiper/scss/navigation';

.swiper-button-next, .swiper-button-prev {
	height: calc(var(--swiper-navigation-size) / 44 * 27);
	border-radius: 50px;
	background-color: #FFFFFF;
	box-shadow: rgba(56, 119, 238, 0.1) 0px 0px 15px 0px;
}
.swiper-button-next::after, .swiper-button-prev::after {
	font-size: 1em;
}
