@use 'variables';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.events-swiper {
	width: 90%;
	height: 35%;
	display: flex;
}



.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: none;
	display: flex;
	flex-direction: column;
	text-align: justify;
	justify-content: center;
	align-items: flex-start;
	h3 {
		font-weight: 400;
		font-family: variables.$article-header-font;
		color: #3877EE;
		margin-bottom: 15px;
	}
	p {
		line-height: 30px;
	}
}

.swiper-button-next, .swiper-button-prev {
	width: calc(var(--swiper-navigation-size) / 33 * 27);
	top: var(--swiper-navigation-top-offset, 85%);
	height: calc(var(--swiper-navigation-size) / 33 * 27);
	border-radius: 50px;
	background-color: #FFFFFF;
	box-shadow: rgba(56, 119, 238, 0.1) 0px 0px 15px 0px;
}
.swiper-button-next::after, .swiper-button-prev::after {
	font-size: 0.7em;
	font-weight: bold;
}
.swiper-button-disabled {
	display: none;
}
.swiper-pagination {
	display: none;
}
@media (max-width: 768px) {
	.events-swiper {
		padding: 10% 0;
		border-top: 1px solid #C7CDD9;
		overflow: visible;
		.swiper-slide {
			justify-content: flex-start;
			opacity: 0.2;
			 transition: opacity 0.2s ease, transform 0.2s ease;
		}
		.swiper-slide-active {
			opacity: 1;
		}
	}
	.swiper-button-next, .swiper-button-prev {
		display:none;
	}
	.swiper-pagination {
		display: block;
	}
}
