.years-container {
	position: relative;
	height: 65%;
	width: 100%;
	display: grid;
	place-items: center;
	padding-top: 10%;
	.years {
		position:absolute;
		width: 45rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.start-year, .end-year {
			font-size: 9.5em;
		}
		.start-year {
			color: #5D5FEF;
		}
		.end-year {
			color: #EF5DA8;
		}
	}
	.manual-buttons {
		position: absolute;
		top:80%;
		width: 6rem;
		height: 2rem;
		left: 4em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.period-button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2.5em;
			height: 2.5em;
			border-radius: 50%;
			background-color: #FFFFFF;
			border:1px solid;
			cursor: pointer;
			&::after {
				font-family: swiper-icons;
				font-weight: bolder;
				font-size: 0.8em;
				text-transform: none;
				letter-spacing: 0;
				font-variant: initial;
				line-height: 1;
			}
			&[disabled='true'] {
				transition: ease 0.4s;
				opacity: 0.1;
			}
		}
		#prev-button::after {
			content: "prev";
		}
		#next-button::after {
			content: "next";
		}
	}
}


@media (max-width: 768px) {

	.years-container, .swiper {
		height: 50%;
	}
	.years-container {
		width: 100%;
		align-items: end;
		.years {
			width: 25rem;
			padding-bottom: 10%;
			.start-year, .end-year {
				font-size: 5em;
			}
		}
		.manual-buttons {
			width: 5rem;
			top: 190%;
			left: 0;
			.period-button {
				width: 2em;
				height: 2em;
			}
		}
	}
}
